.topspace {
  margin-top: -15px;
}
h3 {
  padding: 5px 5px 5px 5px;
  color: #0b1728;
  font-weight: bolder;
  transition: ease-in-out 0.5s;
  font-family: "Ubuntu", sans-serif;
}
h3:hover {
  padding: 5px 5px 5px 5px;
  transform: rotateY(360deg);
}
.navbar .navbar-collapse {
  text-align: center;
}
.custom-toggler {
  box-shadow: none;
  color: #45b1ce;
  border-style: none;
  background-color: transparent;
}
.active {
  color: #f6e6cc;
  background-color: #0b1728;
  margin-top: 10px;
  transition: ease-in-out 0.25s;
}
.btn {
  box-shadow: none;
  margin-left: -7px;
  margin-right: -7px;
  font-family: "Ubuntu", sans-serif;
}
.btn:hover {
  color: #f6e6cc;
  background-color: #0b1728;
  transition: ease-in-out 0.25s;
}
.btn:active {
  text-decoration-style: solid;
  text-decoration-line: underline;
}
.download {
  color: #f6e6cc;
  box-shadow: none;
  font-weight: bold;
  background-color: #0b1728;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
.download:hover {
  color: #0b1728;
  background-color: transparent;
  transition: ease-in-out 0.25s;
}
.download:active {
  color: #0b1728;
  background-color: transparent;
}
