.topspace {
  margin-top: -15px;
}
h1 {
  color: #ffffff;
  font-weight: bolder;
  padding: 5px 5px 5px 5px;
  transition: ease-in-out 0.5s;
  font-size: 28px;
  font-family: "Ubuntu", sans-serif;
}
h1:hover {
  padding: 5px 5px 5px 5px;
  transform: rotateY(360deg);
}
.navbar .navbar-collapse {
  text-align: center;
}
.custom-toggler {
  box-shadow: none;
  color: #45b1ce;
  border-style: none;
  background-color: transparent;
}
.active {
  margin-top: 25px;
  color: #0b1728;
  background-color: #0b1728;
  border-color: #0b1728;
  transition: ease-in-out 0.5s;
}
.btn {
  color: #0b1728;
  box-shadow: none;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #eeeeee;
  border-radius: 10px 50px 10px 50px;
  font-family: "Ubuntu", sans-serif;
}
.btn:hover {
  color: #eeeeee;
  box-shadow: inset -10.5em 0 0 0 #0b1728, inset 10.5em 0 0 0 #0b1728;
  transition: ease-in-out 0.5s;
}
.btn:active {
  text-decoration-style: solid;
  text-decoration-line: underline;
}
.download {
  color: #0b1728;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: none;
  font-weight: bold;
  background-color: #eeeeee;
  border-radius: 50px 10px 50px 10px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}
.download:hover {
  color: #eeeeee;
  box-shadow: inset -10.5em 0 0 0 #0b1728, inset 10.5em 0 0 0 #0b1728;
  transition: ease-in-out 0.5s;
}
.download:active {
  color: #0b1728;
  box-shadow: inset -10.5em 0 0 0 #eeeeee, inset 10.5em 0 0 0 #eeeeee;
  transition: ease-in-out 0.05s;
}
