.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1,
h2,
h4,
p,
hr {
  color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 80px;
  text-align: right;
  font-weight: bolder;
}
h2 {
  text-align: right;
}
h4 {
  color: #0275d8;
}
img {
  margin-top: 25px;
  border-radius: 5%;
  max-width: 80%;
}
.line {
  border-left: 5px solid #0275d8;
}
