h1,
h3,
h5,
p {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 75px;
  text-align: right;
  font-weight: bolder;
}
h3 {
  text-align: right;
}
h5 {
  color: #22758b;
}
img {
  margin-top: 25px;
  border-radius: 5%;
  max-width: 80%;
}
.line {
  border-left: 4px solid #10828c;
}
