.container-fluid {
  min-height: 100vh;
}
h1,
h6,
p,
hr {
  color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}
p {
  font-size: 14px;
}
h5 {
  color: #eeeeee;
  font-size: 28px;
  font-weight: bold;
}
span {
  vertical-align: middle;
}
.heading {
  font-size: 40px;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}
.subheading {
  font-size: 14px;
  color: #0275d8;
  font-family: "Ubuntu", sans-serif;
}
.skill {
  cursor: pointer;
  font-size: 13px;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: "Ubuntu", sans-serif;
}
.progress {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 17px;
  background-color: #0b1728;
}
.progress-bar {
  height: 8px;
}
.java .animate__animated.animate__slideInLeft {
  --animate-duration: 0.5s;
  background-color: #eeeeee;
}
.boot .animate__animated.animate__slideInLeft {
  --animate-duration: 1s;
  background-color: #eeeeee;
}
.microservices .animate__animated.animate__slideInLeft {
  --animate-duration: 1.5s;
  background-color: #eeeeee;
}
.cloud .animate__animated.animate__slideInLeft {
  --animate-duration: 2s;
  background-color: #eeeeee;
}
.hibernate .animate__animated.animate__slideInLeft {
  --animate-duration: 2.5s;
  background-color: #eeeeee;
}
.spring .animate__animated.animate__slideInLeft {
  --animate-duration: 3s;
  background-color: #eeeeee;
}
.angular .animate__animated.animate__slideInLeft {
  --animate-duration: 3.5s;
  background-color: #eeeeee;
}
.bootstrap .animate__animated.animate__slideInLeft {
  --animate-duration: 4s;
  background-color: #eeeeee;
}
.html .animate__animated.animate__slideInLeft {
  --animate-duration: 4.5s;
  background-color: #eeeeee;
}
.sql .animate__animated.animate__slideInLeft {
  --animate-duration: 5s;
  background-color: #eeeeee;
}
