<div class="container-fluid">
  <br />
  <div class="row">
    <div
      class="
        col-xl-5
        offset-xl-2
        col-lg-5
        offset-lg-1
        col-md-5
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
      "
    >
      <h2>My Projects</h2>
      <p class="subheading">
        Listed here are my personal projects! <br />
        Code not be used for enterprise purpose.
      </p>
      <hr />
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-2
        col-lg-4
        offset-lg-1
        col-md-4
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
      "
    >
      <div
        id="trackerCarousel"
        class="carousel slide carousel-fade animate__animated animate__fadeIn"
        data-bs-ride="carousel"
        data-bs-interval="3000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#trackerCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/tracker/coming-soon.png"
              class="img-fluid"
              alt="Coming Soon Page"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        col-xl-3
        offset-xl-1
        col-lg-4
        offset-lg-2
        col-md-5
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        col-10
        offset-1
        space
      "
    >
      <h5>[4] "Bug Managment System"</h5>
      <hr />
      <p class="text-muted">
        On this project, I'm now working. This is a bug tracker for your project
        where you may assign bugs to project members and follow their resolution
        status according to the timeline you specify.
      </p>
      <a
        class="btn-sm download border border-dark disabled"
        style="cursor: pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-link-45deg"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
          />
          <path
            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
          />
        </svg>
        In progress
      </a>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div
      class="
        col-xl-3
        offset-xl-2
        col-lg-4
        offset-lg-1
        col-md-5
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        space
      "
    >
      <h5>[3] "Employee Referral Portal"</h5>
      <hr />
      <p class="text-muted">
        Employee referral portal that is open to all enterprises. It's related
        to the job board where people may post internal job opportunities for
        referrals and job seekers can apply.
      </p>
      <a
        class="btn-sm download border border-dark disabled"
        href="http://emp-ref-front-end.s3-website.ap-south-1.amazonaws.com"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-link-45deg"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
          />
          <path
            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
          />
        </svg>
        WebLink
      </a>
      <a
        class="btn-sm download border border-dark"
        href="https://github.com/stride-maker/emp-ref-front-end"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-github"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
        GitHub
      </a>
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-4
        offset-lg-2
        col-md-4
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        order-md-last order-first
      "
    >
      <div
        id="referralCarousel"
        class="carousel slide carousel-fade animate__animated animate__fadeIn"
        data-bs-ride="carousel"
        data-bs-interval="2000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            type="button"
            data-bs-target="#referralCarousel"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/referral/home.png"
              class="img-fluid"
              alt="Home Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/register.png"
              class="img-fluid"
              alt="Register Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/login.png"
              class="img-fluid"
              alt="Login Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/about.png"
              class="img-fluid"
              alt="About Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/seeker.png"
              class="img-fluid"
              alt="Seeker Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/referrer.png"
              class="img-fluid"
              alt="Referrer Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/referral/contact.png"
              class="img-fluid"
              alt="Contact Page"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br /><br />
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-2
        col-lg-4
        offset-lg-1
        col-md-4
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
      "
    >
      <div
        id="portfolioCarousel"
        class="carousel slide carousel-fade animate__animated animate__fadeIn"
        data-bs-ride="carousel"
        data-bs-interval="3000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#portfolioCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#portfolioCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#portfolioCarousel"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#portfolioCarousel"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#portfolioCarousel"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/portfolio/hello.png"
              class="img-fluid"
              alt="Hello Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/portfolio/about.png"
              class="img-fluid"
              alt="About Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/portfolio/work.png"
              class="img-fluid"
              alt="Work Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/portfolio/skills.png"
              class="img-fluid"
              alt="Skills Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/portfolio/contact.png"
              class="img-fluid"
              alt="Contact Page"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        col-xl-3
        offset-xl-1
        col-lg-4
        offset-lg-2
        col-md-5
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        space
      "
    >
      <h5>[2] "Digital Portfolio"</h5>
      <hr />
      <p class="text-muted">
        This website is the same project which is reflected over here. This
        portfolio was created by me to demonstrate my abilities and other
        projects on which I have worked.
      </p>
      <a
        class="btn-sm download border border-dark"
        href="https://mohitchaudhary.com"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-link-45deg"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
          />
          <path
            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
          />
        </svg>
        WebLink
      </a>
    </div>
  </div>
  <br />
  <br /><br />
  <div class="row">
    <div
      class="
        col-xl-3
        offset-xl-2
        col-lg-4
        offset-lg-1
        col-md-5
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        space
      "
    >
      <h5>[1] "Recipe Book"</h5>
      <hr />
      <p class="text-muted">
        It was my first project when I began working with front end development
        on a personal basis few years ago. I created a small recipe book where
        users may browse the recipes, alter them, and add them to their shopping
        list.
      </p>
      <a
        class="btn-sm download border border-dark"
        href="http://first-recipe-book.s3-website.ap-south-1.amazonaws.com"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-link-45deg"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"
          />
          <path
            d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"
          />
        </svg>
        WebLink
      </a>
      <a
        class="btn-sm download border border-dark"
        href="https://github.com/stride-maker/recipe-book"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-github"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
        GitHub
      </a>
    </div>
    <div
      class="
        col-xl-4
        offset-xl-1
        col-lg-4
        offset-lg-2
        col-md-4
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
        order-md-last order-first
      "
    >
      <div
        id="recipeCarousel"
        class="carousel slide carousel-fade animate__animated animate__fadeIn"
        data-bs-ride="carousel"
        data-bs-interval="4000"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#recipeCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#recipeCarousel"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/recipe/recipe.png"
              class="img-fluid"
              alt="Recipe Page"
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/recipe/shopping-list.png"
              class="img-fluid"
              alt="Shopping List Page"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="
        col-xl-10
        offset-xl-1
        col-lg-10
        offset-lg-1
        col-md-10
        offset-md-1
        col-sm-10
        offset-sm-1
        col-10
        offset-1
      "
    >
      <br /><br />
      <div class="d-flex flex-row justify-content-end">
        <a
          href="https://www.facebook.com/stridemaker"
          target="_blank"
          class="social px-2"
          style="color: #4267b2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-facebook"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
            />
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/mohitchaudhary91/"
          target="_blank"
          class="social px-2"
          style="color: #0e76a8"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
        </a>
        <a
          href="https://github.com/stride-maker"
          target="_blank"
          class="social px-2"
          style="color: #171515"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            fill="currentColor"
            class="bi bi-github"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            />
          </svg>
        </a>
      </div>
      <hr />
    </div>
  </div>
  <div class="row">
    <div
      class="
        col-xl-4
        offset-xl-4
        col-lg-4
        offset-lg-4
        col-md-6
        offset-md-3
        col-sm-6
        offset-sm-3
        col-12
      "
    >
      <p class="text-center text-muted" style="font-size: 10px">
        © Copyright 2020-2021.
        <br />
        All rights reserved. Created by Mohit Chaudhary
      </p>
    </div>
  </div>
</div>
<br />
